development:
  clients:
    default:
      database: demo
      hosts:
        - localhost:27017
      options:
        user: <%= ENV['MONGODB_USERNAME'] || 'admin' %>
        password: <%= ENV['MONGODB_PASSWORD'] || 'root_password' %>
        auth_source: admin
        server_selection_timeout: 1

production:
  clients:
    default:
      uri: <%= ENV['MONGODB_URI'] %>
      options:
        server_selection_timeout: 5

test:
  clients:
    default:
      database: demo_test
      hosts:
        - localhost:27017
      options:
        server_selection_timeout: 1
